.navbar{
    background:#c8102e;	
    border-radius:7px;
    /* width: "" */
    }
    #main .nav-link{
    color:white;
    font-size:1.3rem;
    list-style:none;
    }
    .navbar-brand{
    color:white;
    font-size:1.6rem;
    }
    .navbar-brand:hover{
    color:white;	
    }
    .regester-link{
    color:black;
    font-weight: 500;	
    }
    .regester-link:hover{
    color:#c8102e;	
    }
    .cart{
    margin-right: 0;
    }