.pizza-nav{
    background:black;
    opacity: 0.75; 
    color:white; 
    position:relative;
    bottom:30px;
    width:100%;    
    }
    .pizza-nav a{
    color:white;
    padding:2px 40px;
    font-size:18px;  	
    }
    .pizza-nav a:hover{
    color:#c8102e;
    text-decoration:none;  		 		
    }