.pizza-nav{
    background:black;
    opacity:75%; 
    color:white; 
    position:relative;
    bottom:30px;
    width:1225px;
    
    }
    .pizza-nav a{
    color:white;
    padding:2px 40px;
    font-size:18px;  	
    }.pizza-nav-img{
    width:1225px;	
    }
    .pizza-nav a:hover{
    color:#c8102e;
    text-decoration:none;  		 		
    }